@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button{ margin: 0; padding: 0;}

body, h1, h2, h3, h4, th, td, input, select, textarea, button, p {
    font-size: 12px;
    line-height: 1.5;
    font-family: '돋움',dotum,sans-serif;
    color: #333;
}

img {border:none;}
ul li{ list-style:none;}

a {font-family: '나눔고딕', 'Nanum Gothic', sans-serif; text-decoration:none; color:#333;}
input {font-family: '나눔고딕', 'Nanum Gothic', sans-serif; text-decoration:none; color:#333;}


.inputStyle {
	font-family: inherit;  /* 폰트 상속 */
	color:#999;
	border: 1px solid #999; 
	border-radius: 0px; /* iOS 둥근모서리 제거 */
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	
}

.button { background: #666 none repeat scroll 0 0;
	border:#666;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    width:200px;
	height: 50px;
    padding: 0 8px;
	}

.button:hover {
	background-color:#464646;
}