@CHARSET "UTF-8";

p.concert_subTitle {width:900px; height:30px; line-height:30px; font-size:16px; padding-bottom:10px; display:block; font-weight:700; display:block;}

.innerButton {width:100px; height:30px; background:#fff; padding:0; margin:0; border:1px solid #ccc; border-radius:0; float:right; color:#333; font-size:12px;}

p input#edit_setList{ background:#fff;}
p input#edit_setList:hover {background:#f9f9f9;}
p input#remove_setList{ margin-left:15px; background:#fff; border:1px solid #ccc; }
p input#remove_setList:hover {background:#f9f9f9;}

#table_setList {}
.tr_setList { border-bottom:1px solid #ccc;}

.tr_setList th {background:#eee;}


.tr_setList th{ height:30px;} 
.tr_setList td{ height:50px;}

.setListCheck{ width:50px; text-align:center;}
.setListNum{ width:100px;}
.setListTitle{ width:750px;}


.input_check {display:none;}
.label_check { display:inline-block; background:#fff; width:15px; height:15px; border:1px solid #ccc; border-radius:0; font-weight:100; vertical-align:middle; text-align:center; cursor:pointer; }
input[class="input_check"]:checked + label:after{ content:'\2716'; }




.input_setList{ height:25px; border:1px solid #ddd; padding-left:5px; display:inline-block; cursor: pointer;}
#input_setListNum{ width:70px; margin-left:10px;}
#input_setListTitle{ width:720px; margin-left:10px;}


#setList_saveBtn { width:100px; height:30px; border-radius:0; float:right; margin-top:15px;}