@charset "utf-8";
/* CSS Document */


header {width:100%; height:110px;}

.util_menu{ width:100%; height:30px; background :#333;}

.util_menu ul{ display:block; width:200px; height:30px; float:right;}
.util_menu ul li { list-style:none; float:left; padding-left:20px; }
.util_menu ul li a { display:block;  font-size:12px; line-height:30px; color:#CCC;}
.util_menu ul li a:hover{ color:#fff;}

.gnb{ width:100%; height:80px; background:#C30D22;}
#imgLogo {position:absolute; left:50%; margin-left:-105px; margin-top:10px; ;}

