@CHARSET "UTF-8";



.contentView {width:900px; padding-top:30px; }
#hallIntro {display:block;}
#hallOngoing {display:none;}
#seatReview {display:none;}
#hallMap {display:none;}
#hallOngoing #p_setList, #p_review { height:30px; padding-top:15px;}



#edit_setList {background:#666;}
.tr_ongoing, .tr_review { border-bottom:1px solid #ccc;}

.tr_ongoing th, .tr_review th {background:#eee;}

#table_ongoing, #table_review { table-layout:fixed;}
#table_ongoing th, #table_ongoing td, #table_review th, #table_review td{ height:30px;}

.ongoingTitle{ width:600px;}
.ongoingDate{ width:300px;}

#table_ongoing p { text-align:center; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}



div#seatReview {width:900px; height:500px;}
.input_seatFloor, .input_seatStanding{
	float:left;
  width: 100px; /* 원하는 너비설정 */
  padding: 3px 0 3px 5px; /* 여백으로 높이 설정 */
  background: url(../img/arrow_down.png) no-repeat 75px center; /* 네이티브 화살표 대체 */  
  background-size:15px 10px;
}

.input_seatStanding{ margin-left:10px;}

#p_searchSeatReview {height:45px; }
#p_searchSeatReview select, #p_searchSeatReview input{float:left;}
#p_searchSeatReview select {height:28px;}


.ul_seatReview {width:900px; height:380px; display:block;}
.ul_seatReview p{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.ul_seatReview li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d6d6d6 #d6d6d6 #b8b8b8;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    float: left;
	margin-right:25px;
   	margin-bottom:20px;
    position: relative;
    width: 158px;
}
.ul_seatReview li.list_lastLine {margin-right:0;}

.seat_title{
    color: #333;
    font-size: 12px;
    font-weight: normal;
	height:20px;
    line-height: 14px;
    overflow: hidden;
    padding: 6px 12px 0;
    text-overflow: ellipsis;
}



#concerthallMap{width:800px; height:600px;}