@CHARSET "UTF-8";

#concertTitle {width:900px; height:60px; line-height:30px; font-size:18px; display:inline-block;}

#innerButtonBox {width:215px; height:30px; float:right; display:inline-block;}
.innerButton {width:100px; height:30px; background:#C30D22; padding:0; margin:0; border:none; border-radius:0; float:right;}
.innerButton:hover {background:#ae0115;}

#likeToGo {margin-right:15px;}

#concertProfileBox {width:900px; height:300px;}

#concertPoster {width:225px; height:300px; float:left;}
#concertProfile {width:625px; height:300px; padding-left:50px; float:left;}
#concertProfile span {width:625px; height:25px; font-size:13px; line-height:25px; word-break:break-all;}


#concertProfile p, #concertProfile span a {font-size:13px; min-height:25px; line-height:25px; font-weight:400; }
#concertProfile p a:hover {text-decoration:underline;}


h3.concert_subTitle {width:900px; height:30px; line-height:30px; font-size:16px; padding-bottom:10px; display:block; font-weight:700; display:block;}

.contentView {width:900px; padding-top:30px; }
#concertIntro {display:block;}
#concertSetList {display:none;}
#concertReview {display:none;}
#concertTimeLine {display:none;}
#concertSetList #p_setList, #p_review { height:30px; padding-top:15px;}


#tabBox {padding-top:80px;}
.tabs {width:900px; height:31px; border-bottom:1px solid #ccc;}
.tabs li { width:100px; height:30px; float:left; margin-right:10px; border-top:1px solid #ccc; border-right:1px solid #ccc; border-left:1px solid #ccc; border-top-left-radius:4px; border-top-right-radius:4px;}
.tabs li a { display:block; width:100px; height:30px; text-align:center; line-height:30px; background:#f3f3f3;}
.tabs li a:hover {height:31px; background:#fff;}


#edit_setList {background:#666;}
.tr_setList, .tr_review { border-bottom:1px solid #ccc;}

.tr_setList th, .tr_review th {background:#eee;}

#table_setList, #table_review { table-layout:fixed;}
#table_setList th, #table_setList td, #table_review th, #table_review td{ height:30px; text-align:center;}

.setListNum{ width:100px;}
.setListTitle{ width:600px;}
.setListLink{ width:200px;}

#table_setList p, #table_review p, #table_review th p{ text-align:center; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.reviewNum p{ width:100px;}
.reviewTitle p{ width:450px; text-align:left; }
.reviewId p{ width:100px; text-align:left;}
.reviewDate p{ width:150px;}
.reviewHits p{ width:100px;}


.input_categoryReview {
	float:left;
  width: 100px; /* 원하는 너비설정 */
  padding: 3px 0 3px 5px; /* 여백으로 높이 설정 */
  background: url(../img/arrow_down.png) no-repeat 75px center; /* 네이티브 화살표 대체 */  
  background-size:15px 10px;
}

#p_searchReview {height:40px; }
#p_searchReview select, #p_searchReview input, #p_searchReview span{float:right;}
#p_searchReview select {height:28px;}
.input_searchReview { width:200px; height:24px; padding-left:5px; margin-left:10px;}
#btn_searchReview a{ width:24px; height:24px; display:block; background:url(../img/search.png) no-repeat center center; margin-left:5px; float:right;}


#p_review span {width:165px;margin-left:355px;}
#p_review span a {width:15px;  line-height:30px; text-align:center; display:inline-block; font-size:13px; }
#p_review span a.page {width:30px; font-weight:bold;}
#p_review span a:hover {color:#C30D22;}

input#write_review{ background:#666; float:right;}
input#write_review:hover { background:#444;}