<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>CONPLAKE</title>
<link href="resources/css/common.css" rel="stylesheet" type="text/css"/>
<link href="resources/css/header.css" rel="stylesheet" type="text/css"/>
<link href="resources/css/sideBox.css" rel="stylesheet" type="text/css"/>
<link href="resources/css/indexTempl.css" rel="stylesheet" type="text/css"/>

</head>


<body>
<header>
	<div class="util_menu">
    	<ul>
        	<li id="mypage"><a href="#">마이페이지</a></li>
            <li id="logout"><a href="#">로그아웃</a></li>
        </ul>
    </div>
    <div class="gnb">
    	<a id="logo" href="#"><img id="imgLogo" src="resources/img/logo_main.png" alt="CONPLAKE" /></a>
    </div>
</header>


<div class="contentWrap">
    <div class="sideBoxWrap"> 
    	<div class="sideBox">
        	<ul>
            	<li id="text_search"><p>SEARCH</p></li>
            	<li id="categoryBox">
                	<p class="text_sub">category</p>
                	<select class="inputStyle input_category">
                        <option selected>카테고리</option>
                        <option>아티스트</option>
                        <option>공연이름</option>
                        <option>공연장</option>
                    </select>
                </li>
                <li id="searchBox">
                	<p class="text_sub">keyword</p>
                	<input name="input_search" class="inputStyle input_search" type="text" placeholder="검색어를 입력하세요." autocomplete="off" >
                </li>
                <li id="calenderBox">
                	<p class="text_sub">date</p>
                    <p>
                        <span class="text_date">from :</span>
                        <input class="inputStyle input_sday" type="date" name="sday" max="2015-12-31">
                    </p>
                    <p>
                        <span class="text_date">to &nbsp;:</span>
                        <input class="inputStyle input_eday" type="date" name="eday" min="2000-01-02">
                    </p>
                </li>
                <li id="searchBtnBox">
                	<input id="searchBtn" class="button" type="submit" value="검색" name="searchBtn" onclick="window.location='search.html'" 

>
                
                </li>
            </ul>
    	</div>
    
   </div>
   <div class="mainBoxWrap">
   		<div class="mainBox">
        	<h1>CONCERT</h1>
        
            <ul class="ul_concert">
                <li id="list_concert1">
                    <a href="#"><img width="198" height="248" alt="콘서트이미지1" src="resources/img/gmf.png"></a>
                        <p class="concert_title"><a href="#">그랜드 민트 페스티벌 2015</a></p>
                        <p class="concert_date">2015.10.17 ~ 2015.10.18</p>
                        <p class="concert_place"><a href="#">서울시 송파구 올림픽공원</a></p>
                </li>
                
                <li id="list_concert1">
                    <a href="#"><img width="198" height="248" alt="콘서트이미지1" src="resources/img/apple.png"></a>
                        <p class="concert_title"><a href="#">쏜애플(THORNAPPLE) 콘서트 ‘한낮’</a></p>
                        <p class="concert_date">2015.12.19</p>
                        <p class="concert_place"><a href="#">AX-KOREA</a></p>
                </li>
                
                
                 <li id="list_concert1">
                    <a href="#"><img width="198" height="248" alt="콘서트이미지1" src="resources/img/sg.png"></a>
                        <p class="concert_title"><a href="#">SG워너비 컴백 콘서트 ＇I WANNA BE WITH YOU＇</a></p>
                        <p class="concert_date">2015.10.09 ~ 2015.10.10</p>
                        <p class="concert_place"><a href="#">올림픽공원 올림픽홀</a></p>
                </li>
                
                <li id="list_concert1">
                    <a href="#"><img width="198" height="248" alt="콘서트이미지1" src="resources/img/crush.png"></a>
                        <p class="concert_title"><a href="#">2015 크러쉬 콘서트〈Crush on You</a></p>
                        <p class="concert_date">2015.11.13 ~ 2015.11.14</p>
                        <p class="concert_place"><a href="#">롯데카드 아트센터 아트홀</a></p>
                </li>
                
                <li id="list_concert1">
                    <a href="#"><img width="198" height="248" alt="콘서트이미지1" src="resources/img/apple.png"></a>
                        <p class="concert_title"><a href="#">쏜애플(THORNAPPLE) 콘서트 ‘한낮’</a></p>
                        <p class="concert_date">2015.12.19</p>
                        <p class="concert_place"><a href="#">AX-KOREA</a></p>
                </li>
                
                <li id="list_concert1">
                    <a href="#"><img width="198" height="248" alt="콘서트이미지1" src="resources/img/crush.png"></a>
                        <p class="concert_title"><a href="#">2015 크러쉬 콘서트〈Crush on You</a></p>
                        <p class="concert_date">2015.11.13 ~ 2015.11.14</p>
                        <p class="concert_place"><a href="#">롯데카드 아트센터 아트홀</a></p>
                </li>
                
                <li id="list_concert1">
                    <a href="#"><img width="198" height="248" alt="콘서트이미지1" src="resources/img/gmf.png"></a>
                        <p class="concert_title"><a href="#">그랜드 민트 페스티벌 2015</a></p>
                        <p class="concert_date">2015.10.17 ~ 2015.10.18</p>
                        <p class="concert_place"><a href="#">서울시 송파구 올림픽공원</a></p>
                </li>
                
                <li id="list_concert1">
                    <a href="#"><img width="198" height="248" alt="콘서트이미지1" src="resources/img/sg.png"></a>
                        <p class="concert_title"><a href="#">SG워너비 컴백 콘서트 ＇I WANNA BE WITH YOU＇</a></p>
                        <p class="concert_date">2015.10.09 ~ 2015.10.10</p>
                        <p class="concert_place"><a href="#">올림픽공원 올림픽홀</a></p>
                </li>
                
                
                
            </ul>
        </div>
   </div>
    
    
</div>
</body>
</html>
